.aboutText {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 10;

    h2 {
        font-size: 64px;
        font-weight: 300;
        margin: 0;
    }
    
    p {
        margin: 0;
    }
}

.descriptor {
    color: #66fcf1;
    font-size: 128px;
}