.aboutSection {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 12px;
}

.headshot {
    border-radius: 6px;
    margin-left: 24px;
    max-height: 50vh;
    max-width: 50vh;
}

.icon {
    height: 25px;
    margin-right: 12px;
    margin-top: 6px;
}

.name {
    color: #dde0e2;
    font-size: 64px;
    font-weight: 500;
    margin: 0;
}