.aboutSection {
    font-size: 16px;

    @media screen and (min-width: 600px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 20px;
    }
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12px;

    @media screen and (min-width: 600px) {
        margin-left: 15%;
        margin-right: 15%;
    }
    @media screen and (min-width: 1024px) {
        margin-left: 25%;
        margin-right: 25%;
    }
}

.headshot {
    border-radius: 6px;
    float: right;
    margin-left: 24px;
    max-height: 30vh;
    max-width: 30vh;

    @media screen and (min-width: 600px) {
        margin-left: 24px;
        max-height: 40vh;
        max-width: 40vh;
    }
    @media screen and (min-width: 1024px) {
        margin-left: 24px;
        max-height: 50vh;
        max-width: 50vh;
    }
}

.icon {
    height: 25px;
    margin-right: 12px;
    margin-top: 6px;
}

.name {
    color: #dde0e2;
    font-size: 40px;
    font-weight: 500;
    margin: 0;

    @media screen and (min-width: 600px) {
        font-size: 52px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 64px;
    }
}