.companies {
    display: flex;
    flex-direction: column;
}

.companyName {
    color: #dde0e2;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 12px;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 12px;
    display: flex;
}

.description {
    font-size: 20px;
    margin-top: 32px;
}

.experience {
    margin-left: 48px;
}

.logo {
    border-radius: 12px;
    height: 75px;
    transition: transform 0.2s;

    &:hover {
        animation: wiggle 0.4s ease-in-out;
        cursor: pointer;
    }
}

.role {
    color: #aeb0b2;
}

.skill {
  border: 0.5px solid #aeb0b2;
  border-radius: 4px;
  color: #aeb0b2;
  display: inline-block;
  margin: 4px;
  opacity: 0.5;
  padding: 4px;
}

.skillSelected {
  composes: skill;
  border: 1px solid #dde0e2;
  color: #dde0e2;
  opacity: 0.8;
}

.skills {
  margin-top: 28px;
}

@keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(8deg);
    }
    50% {
      transform: rotate(-8deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }