h2 {
    font-size: 2.25em;
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

.descriptor {
    color: #6bd6f1;
    font-size: 4em;
}

.firstSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 64px;
    position: relative;
    z-index: 10;
}

.about {
    flex: 1;
}

.secondSection {
    box-sizing: border-box;
    clear: both;
    height: 100vh;
    margin: 0 64px;
    padding-top: 48px;
}

.sectionHeading {
    text-align: center;
}