a {
    color: #7e7f7a;
    text-decoration: none;
}

h1 {
    font-size: 2.25em;
    font-weight: 500;
    margin: 24px 0;
}

.secondSection {
    box-sizing: border-box;
    clear: both;
    height: 100vh;
    margin: 0 64px;
    padding-top: 48px;
}

.sectionHeading {
    color: #3f3736;
    text-align: center;
}

.dateAndLocation {
    font-size: 0.75em;
    font-style: italic;
}

.position {
    font-size: 1.25em;
}