h1 {
    font-size: 2.25em;
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

.descriptor {
    color: #6bd6f1;
    font-size: 4em;
}

.firstSection {
    height: 60vh;
    margin: 0 64px 32px;
}