.container {
    box-sizing: border-box;
    clear: both;
    min-height: 100vh;
    margin: 0 16px;
    padding-top: 48px;

    h2 {
        font-size: 96px;
        font-weight: 500;
        margin: 24px 0;
    }
}

.projectDescription {
    & > a {
        color: #45a29e;
        text-decoration: none;
    }
}

.sectionHeading {
    color: #66fcf1;
    text-align: center;
}
