body {
    @media screen and (min-width: 576px) {
        font-size: 1.2em;
    }
    @media screen and (min-width: 768px) {
        font-size: 1.3em;
    }
    @media screen and (min-width: 992px) {
        font-size: 1.4em;
    }
    @media screen and (min-width: 1200px) {
        font-size: 1.5em;
    }
    background-color: #0c2431;
    color: #e1dad2;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
    margin: 0;
}

html {
    margin: 0;
}